anvil_uplink==0.4.2
bayesian_optimization==1.4.2
beautifulsoup4==4.11.2
matplotlib==3.7.0
numpy==1.24.2
opencv_python==4.7.0.68
pandas==1.5.3
Pillow==9.4.0
scikit_learn==1.2.1
scipy==1.10.1
screeninfo==0.8.1
xmltodict==0.13.0
